n8n/workflows/multi-platform-arbitrage-monitor.json
{
  "name": "Multi-Platform Arbitrage Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "name": "Schedule Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 450],
      "id": "schedule-trigger"
    },
    {
      "parameters": {
        "url": "=http://bot:8080/api/v1/n8n/prices/dmarket?game={{ $env.GAME }}&limit=50",
        "authentication": "none",
        "method": "GET",
        "options": {}
      },
      "name": "Get DMarket Prices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "id": "get-dmarket-prices",
      "notes": "Fetch top 50 items from DMarket"
    },
    {
      "parameters": {
        "url": "=http://bot:8080/api/v1/n8n/prices/waxpeer?game={{ $env.GAME }}&limit=50",
        "authentication": "none",
        "method": "GET",
        "options": {}
      },
      "name": "Get Waxpeer Prices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 450],
      "id": "get-waxpeer-prices",
      "notes": "Fetch prices from Waxpeer P2P"
    },
    {
      "parameters": {
        "url": "=http://bot:8080/api/v1/n8n/prices/steam?game={{ $env.GAME }}&limit=50",
        "authentication": "none",
        "method": "GET",
        "options": {}
      },
      "name": "Get Steam Prices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 600],
      "id": "get-steam-prices",
      "notes": "Fetch Steam Community Market prices"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "name": "Merge Platform Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [690, 450],
      "id": "merge-platforms",
      "notes": "Combine price data from all platforms"
    },
    {
      "parameters": {
        "jsCode": "// Compare prices across platforms and find arbitrage opportunities\nconst dmarketItems = $input.all()[0].json.items || [];\nconst waxpeerItems = $input.all()[1].json.items || [];\nconst steamItems = $input.all()[2].json.items || [];\n\n// Create price map by item name\nconst priceMap = new Map();\n\n// Add DMarket prices\ndmarketItems.forEach(item => {\n  const key = item.name.toLowerCase();\n  if (!priceMap.has(key)) {\n    priceMap.set(key, { name: item.name, prices: {} });\n  }\n  priceMap.get(key).prices.dmarket = parseFloat(item.price);\n});\n\n// Add Waxpeer prices (convert mils to USD: 1000 mils = 1 USD)\nwaxpeerItems.forEach(item => {\n  const key = item.name.toLowerCase();\n  if (!priceMap.has(key)) {\n    priceMap.set(key, { name: item.name, prices: {} });\n  }\n  // Waxpeer uses mils: 1000 mils = $1\n  priceMap.get(key).prices.waxpeer = parseFloat(item.price) / 1000;\n});\n\n// Add Steam prices\nsteamItems.forEach(item => {\n  const key = item.name.toLowerCase();\n  if (!priceMap.has(key)) {\n    priceMap.set(key, { name: item.name, prices: {} });\n  }\n  priceMap.get(key).prices.steam = parseFloat(item.price);\n});\n\n// Find arbitrage opportunities\nconst opportunities = [];\nconst minProfitPercent = parseFloat($env.MIN_PROFIT_PERCENT || 5);\n\nfor (const [key, data] of priceMap) {\n  const { name, prices } = data;\n  \n  // Only consider items available on at least 2 platforms\n  const availablePlatforms = Object.keys(prices).length;\n  if (availablePlatforms < 2) continue;\n  \n  // Find best buy and sell platforms\n  const platforms = Object.entries(prices);\n  platforms.sort((a, b) => a[1] - b[1]);\n  \n  const [buyPlatform, buyPrice] = platforms[0];\n  const [sellPlatform, sellPrice] = platforms[platforms.length - 1];\n  \n  // Calculate profit (account for Waxpeer 6% fee)\n  let netSellPrice = sellPrice;\n  if (sellPlatform === 'waxpeer') {\n    netSellPrice = sellPrice * 0.94; // 6% fee\n  }\n  \n  const profit = netSellPrice - buyPrice;\n  const profitMargin = (profit / buyPrice) * 100;\n  \n  // Check if profitable\n  if (profitMargin >= minProfitPercent) {\n    opportunities.push({\n      item_name: name,\n      game: $env.GAME || 'csgo',\n      buy_price: buyPrice,\n      buy_platform: buyPlatform,\n      sell_price: sellPrice,\n      sell_platform: sellPlatform,\n      net_sell_price: netSellPrice,\n      profit: profit,\n      profit_margin: profitMargin,\n      // Liquidity score (higher if available on more platforms)\n      liquidity_score: availablePlatforms,\n      all_prices: prices\n    });\n  }\n}\n\n// Sort by profit margin (highest first)\nopportunities.sort((a, b) => b.profit_margin - a.profit_margin);\n\n// Limit to top 10 opportunities\nconst topOpportunities = opportunities.slice(0, 10);\n\nconsole.log(`Found ${opportunities.length} arbitrage opportunities, showing top ${topOpportunities.length}`);\n\nreturn topOpportunities.map(opp => ({ json: opp }));"
      },
      "name": "Find Arbitrage Opportunities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 450],
      "id": "find-arbitrage",
      "notes": "Compare prices and calculate profitable trades"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "profit-check",
              "leftValue": "={{ $json.profit_margin }}",
              "rightValue": "={{ $env.MIN_PROFIT_PERCENT || 5 }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If Profitable",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 450],
      "id": "if-profitable",
      "notes": "Filter only profitable opportunities"
    },
    {
      "parameters": {
        "jsCode": "// Format message for Telegram\nconst opp = $json;\n\nconst message = `🔥 **Арбитраж найден!**\\n\\n` +\n  `🎮 **${opp.item_name}**\\n` +\n  `📊 Game: ${opp.game.toUpperCase()}\\n\\n` +\n  `💰 **Цены:**\\n` +\n  `├─ DMarket: ${opp.all_prices.dmarket ? '$' + opp.all_prices.dmarket.toFixed(2) : 'N/A'}\\n` +\n  `├─ Waxpeer: ${opp.all_prices.waxpeer ? '$' + opp.all_prices.waxpeer.toFixed(2) : 'N/A'}\\n` +\n  `└─ Steam: ${opp.all_prices.steam ? '$' + opp.all_prices.steam.toFixed(2) : 'N/A'}\\n\\n` +\n  `📈 **Лучшая сделка:**\\n` +\n  `🛒 Купить: ${opp.buy_platform.toUpperCase()} за $${opp.buy_price.toFixed(2)}\\n` +\n  `💸 Продать: ${opp.sell_platform.toUpperCase()} за $${opp.sell_price.toFixed(2)}\\n` +\n  (opp.sell_platform === 'waxpeer' ? `💵 После комиссии: $${opp.net_sell_price.toFixed(2)} (6% fee)\\n` : '') +\n  `\\n` +\n  `✅ **Прибыль: $${opp.profit.toFixed(2)} (${opp.profit_margin.toFixed(1)}%)**\\n` +\n  `📊 Ликвидность: ${opp.liquidity_score}/3 платформ\\n\\n` +\n  `⏰ ${new Date().toLocaleString('ru-RU', { timeZone: 'Europe/Moscow' })}`;\n\nreturn {\n  json: {\n    ...opp,\n    formatted_message: message\n  }\n};"
      },
      "name": "Format Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 350],
      "id": "format-message",
      "notes": "Create beautiful Telegram message with emoji"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.formatted_message }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_notification": false
        }
      },
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1570, 350],
      "id": "send-telegram",
      "notes": "Alert user about profitable opportunity",
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://bot:8080/api/v1/n8n/webhooks/arbitrage",
        "authentication": "none",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "item_name",
              "value": "={{ $json.item_name }}"
            },
            {
              "name": "game",
              "value": "={{ $json.game }}"
            },
            {
              "name": "buy_price",
              "value": "={{ $json.buy_price }}"
            },
            {
              "name": "sell_price",
              "value": "={{ $json.sell_price }}"
            },
            {
              "name": "profit",
              "value": "={{ $json.profit }}"
            },
            {
              "name": "profit_margin",
              "value": "={{ $json.profit_margin }}"
            },
            {
              "name": "platform_from",
              "value": "={{ $json.buy_platform }}"
            },
            {
              "name": "platform_to",
              "value": "={{ $json.sell_platform }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Log to Bot Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 550],
      "id": "log-to-bot",
      "notes": "Send to bot for logging and further processing"
    }
  ],
  "connections": {
    "Schedule Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Get DMarket Prices",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Waxpeer Prices",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Steam Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get DMarket Prices": {
      "main": [
        [
          {
            "node": "Merge Platform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Waxpeer Prices": {
      "main": [
        [
          {
            "node": "Merge Platform Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Steam Prices": {
      "main": [
        [
          {
            "node": "Merge Platform Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Platform Data": {
      "main": [
        [
          {
            "node": "Find Arbitrage Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Arbitrage Opportunities": {
      "main": [
        [
          {
            "node": "If Profitable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Profitable": {
      "main": [
        [
          {
            "node": "Format Alert Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Bot Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert Message": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "dmarket-bot-instance"
  },
  "id": "multi-platform-arbitrage-monitor",
  "tags": [
    {
      "name": "DMarket",
      "id": "dmarket-tag"
    },
    {
      "name": "Arbitrage",
      "id": "arbitrage-tag"
    },
    {
      "name": "Multi-Platform",
      "id": "multi-platform-tag"
    }
  ]
}
